<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/json" />
            <mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
